#eg1{
    width: 500px;
    height: 300px;
    border: 5px solid red;
    background-image: url("https://images.unsplash.com/photo-1697425345731-d0314e2e0551?auto=format&fit=crop&q=80&w=3086&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") ;
    background-size:100px 100px;
    /* contain */
    /* cover */
    background-repeat: no-repeat;
    background-position: left bottom ;
    border: 10px solid blue;
    box-sizing: border-box;
    padding: 200px;
}