.box {
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: background-color 5s ease;
}

.box:hover {
  background-color: red;
}

#btn {
  background-color: blue;
  border: none;
  color: red;
  padding: 10px 20px;
  cursor: pointer;
  transition: opacity 1s ease;
}

#btn:hover {
  opacity: 0.8;
}

#btn:active {
  opacity: 0.5;
}

#box-2 {
  width: 200px;
  height: 100px;
  border: 10px solid blue;
  transition: border 1s ease 5s;
}

#box-2:hover {
  border: 10px solid red;
}

#box-3 {
  width: 200px;
  height: 200px;
  background-color: blue;
  transition: width 1s ease, height 3s ease, background-color 10s ease;
}

#box-3:hover {
  width: 400px;
  height: 400px;
  background-color: red;
}
#eg3{
    color: blue;
    transition: all 1s ease;
}

#eg3:hover{
    color: red;
    font-size: 40px;
}

.box-4{
    width: 100px;
    height: 100px;
    background-color: red;
    border: 10px solid green;
    margin-bottom: 20px;
    transition: all 1s ease;
}

.box-4:hover{
    transform: rotate(360deg);
}